.sidebarMenu {
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 15px;
    box-sizing: border-box;
}


.sidebarMenuItem {
    width: 100%;
    display: block;
    color: grey;
    /* 버튼 기본 스타일 제거 */
    background: none;
    border: none;
    padding: 12px 15px; /* 클릭 영역을 넓혀줌 */
    cursor: pointer;
}

.sidebarMenu:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

