.sidebar {
    width: 250px;
    background-color: gainsboro;
    padding: 15px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    height: 100vh;
}

.sidebarList {
    list-style: none;
    padding: 0;
    margin: 0;
}
